@*@model HIQTrainingSite.ViewModel.CertificationViewModel*@
@{
    ViewBag.Title = HIQResources.titleUsersList;

    <link href="@Url.Content("~/layout/css/styles.css")" rel="stylesheet" />
}

<div class="mainblock">
    <div class="block-group">
        <div class="ttitle title">
            @HIQResources.titleImport
        </div>
        
        @using (Html.BeginForm("ImportRes", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="file" name="file" id="file" accept=".xls, .xlsx" />
                <input type="submit" name="ImportRes" id="ImportRes" value=@HIQResources.buttonConfirm />
            }

        @*<table class="table">
            <tr>
                <th>
                    @HIQResources.labelExcellPath
                </th>
            </tr>
        </table>*@
    </div>
</div>
