@font-face {
    font-family: "Montserrat-Bold";
    src: url('#{$roboto-font-path}Montserrat-Bold.otf');
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-bold";
    src: url('#{$roboto-font-path}Roboto-Bold.ttf');
    src: url("#{$roboto-font-path}Roboto-Bold.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-condensed";
    src: url('#{$roboto-font-path}Roboto-Condensed.ttf');
    src: url("#{$roboto-font-path}Roboto-Condensed.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-light";
    src: url('#{$roboto-font-path}Roboto-Light.ttf');
    src: url("#{$roboto-font-path}Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-medium";
    src: url('#{$roboto-font-path}Roboto-Medium.ttf');
    src: url("#{$roboto-font-path}Roboto-Medium.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-regular";
    src: url('#{$roboto-font-path}Roboto-Regular.ttf');
    src: url("#{$roboto-font-path}Roboto-Regular.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "ubuntu-bold";
    src: url('#{$roboto-font-path}Ubuntu-B.ttf');
    src: url("#{$roboto-font-path}Ubuntu-B.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "ubuntu-regular";
    src: url('#{$roboto-font-path}Ubuntu-R.ttf');
    src: url("#{$roboto-font-path}Ubuntu-R.ttf") format("truetype");
    font-weight: 300;
}