.block-group,
.block,
.block-group:after,
.block:after,
.block-group:before,
.block:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block-group {
    *zoom: 1;
}

.block-group:before,
.block-group:after {
    display: table;
    content: "";
    line-height: 0;
}

.block-group:after {
    clear: both;
}

.block-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.block-group>.block-group {
    clear: none;
    float: left;
    margin: 0 !important;
}

.block {
    float: left;
    width: 100%;
}

nav {
    width: 80%;
}

.b1,
.b2 {
    width: 50%;
}

.b3 {
    width: 50%;
}

.b4,
.b5 {
    width: 25%;
}

.b6,
.b7,
.b8,
.b9,
.b10 {
    width: 20%;
}

.b-form {
    width: 35%;
}

@media screen and (max-width: 600px) {
    .b6 {
        width: 100%;
    }
    .login-box {
        width: 75%;
    }
}