<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".   -->
    
    <connectionStrings>

      <add name="DBEntities" connectionString="metadata=res://*/Model.HIQTrainingDB.csdl|res://*/Model.HIQTrainingDB.ssdl|res://*/Model.HIQTrainingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.80\BEEPIDEV;initial catalog=HIQTraining;user id=sa_dev;password=sa_dev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="IdentityDbConnection" connectionString="Data Source=192.168.0.80\BEEPIDEV;Initial Catalog=HIQTraining;Integrated Security=False;User ID=sa_dev;Password=sa_dev;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

      <!--connection string para a bd que se encontra no servidor-->
      <add name="ADConnectionAdentisPT" connectionString="LDAP://adentis.corp/OU = Adentis PT,DC = adentis,DC = CORP" />
      <add name="ADConnectionAgap2PT" connectionString="LDAP://agap2.corp/OU=Agap2 PT,DC=AGAP2,DC=CORP" />
      <add name="ADConnectionBeePT" connectionString="LDAP://BEE-ENG.corp/OU=Bee-Eng,DC=bee-eng,DC=CORP" />
      <add name="ADConnectionKcsPT" connectionString="LDAP://kcsit.corp/DC=kcsit,DC=CORP" />

    
    </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>